.menu{
    display : flex;
}

.mainstyle{
    display: 'flex';
    height: '100%';
    background-color: pink;
}

.center-menu{
    float: center
}

.top-nav-bar{
    box-shadow: 0px 0px 2px 0px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.place-right {
    display: flex;

}
.center-button-margin{
    margin-top: 5px;
}

.button-open-menu-container{
    padding : 5px;
}

.section-style{
    margin-top : "50px";
    margin-left: auto;
    margin-right: auto;
}


.share-modal-main-title{
    font-size: 20px;
    font-weight: 500;
}

.nothing-added-yet{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5;
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: 500;
    color: dimgray;
}

.simple-instruction{
    max-width: 100%;
}

.close-button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close-button-inner-container{
    float : right;
}

.help-button-ove{
    width: 50px;
    padding: 8px;
}

.share-button-ove{
    padding: 5px;
}

.showChart {
    display: none;
}

.button-download-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.report-is-ready{
    text-align: center !important;
}

.img-description {
    width: 510px;
    height: 360px;
    padding-right: 15%;
}

.modalBtn{
    padding-left: 85%;
}
.sidebar {
display: flex;
  }

.title {
    text-align: center;
}
