
.table-head{
    font-weight: 600;

}

.flex-use-previous-header{
    display: flex;
    justify-content: space-between;
}

.use-prev-cells{
    padding : 2px;
}

.float-button-right{
    float : right;
}

.title-last-three{
    padding : 4px;
    font-size: 20px;
}