.container {
    margin: 0%;

}
.dropdown {
    padding: 0.5%;
}

.row {
    justify-content: space-between;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }